<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sioo.db.mybatis.mapper.SmsUserSendingMapper">
    <insert id="batchSave" parameterType="java.util.List">
    <selectKey keyColumn="id" resultType="java.lang.Integer" order="AFTER">
        select @@IDENTITY
    </selectKey>
    insert into smshy.sms_user_sending(`mtype`, `senddate`,`uid`, `mobile`, `channel`, `content`, `content_num`, `stat`, `release`, `pid`,
  `grade`, `expid`, `remark`, `hisids`, `location`)
    values  
    <foreach collection="list" item="item" index="index" separator="," >  
    ( #{item.mtype},#{item.senddate},#{item.uid},#{item.mobile},#{item.channel},#{item.content},#{item.contentNum},#{item.stat},#{item.release},#{item.pid},
    #{item.grade},#{item.expid},#{item.mtStat},#{item.id},#{item.location})
    </foreach>
  </insert>

    <select id="select" parameterType="com.sioo.hy.cmpp.vo.SendingVo">

       SELECT * from sms_send_history_unknown where mobile=13501683367 and senddate>20170424000000 and arrive_fail>0
    </select>




    <select id="getSmsUserSending" resultType="com.sioo.hy.cmpp.vo.SendingVo">
        select `id`, `mtype`, `senddate`,`uid`, `mobile`, `channel`, `content`, `content_num` as contentNum, `stat`, `release`, `pid`,
        `grade`, `expid`, `remark` as mtStat, `hisids`, `hand_stat` as handStat, `location` from smshy.sms_user_sending
        where `hand_stat` = 1 or `hand_stat` = 2
        order by `handStat` limit 1000
    </select>

    <delete id="deleteByIds">
        delete from smshy.sms_user_sending where id in(
        <foreach collection="list" item="item" index="index" separator="," >
            #{item}
        </foreach>
        )
    </delete>
</mapper>